body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

canvas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #008000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    z-index: 100;
    white-space: nowrap;
}

button:hover {
    color: #fff;
    background-color: #FF0000;
}

#win-message {
    color: #FF0000;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;
    font-size: 50px;
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 10%;
    right: 5%;
    z-index: 100;
}

.buttons img {
    width: 50px;
    height: auto;
    cursor: pointer;
}